<div class="card">
  <!-- Card Header -->
  <div class="card-header">
    <h2>Login</h2>
  </div>

  <!-- Login Form -->
  <form id="login-form" class="card-body">
    <!-- Username Input -->
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>

    <!-- Password Input -->
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>

    <!-- Login Button -->
    <button type="submit" id="login-btn" class="btn">Login!</button>

    <!-- Sign up Link -->
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<!-- JavaScript for Login functionality -->
<script src="/js/login.js"></script>