<div class="card">
  <!-- Card Header -->
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>

  <!-- Sign Up Form -->
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <!-- Username Input -->
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </div>

      <!-- Password Input -->
      <div>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </div>

      <!-- Signup Button -->
      <button type="submit" id="signup-btn" class="btn">Signup!</button>

      <!-- Login Link -->
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<!-- JavaScript for Signup functionality -->
<script src="/js/signup.js"></script>
